[Unit]
Description=Run the debaz

[Service]
ExecStart=/home/ebaz/debazarosit.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
